.titleMain{
        -fx-font-size: 20px;
        -fx-font-weight: bold;
        -fx-background-color: #f0f0f0;
}
/* styles.css */
.mainPaneLeft {
        -fx-background-image: url("../images/backgroundMainLefft.jpg");
        -fx-background-size: cover;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
}
.main-pane-right {
        -fx-background-image: url("../images/backgroundMainRight.jpg");
        -fx-background-size: cover;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
}
/*.coverimage{*/
/*        -fx-background-image: url("../images/anhtruong.jpg");*/
/*        -fx-background-size: cover;*/
/*        -fx-background-repeat: no-repeat;*/
/*        -fx-background-position: cente*/
/*}*/

.tab-anchor-pane {
        -fx-background-color: #C6E2FF;
}

.button{
        -fx-background-color: white;
        -fx-background-radius: 4px;
        -fx-cursor: hand;
        -fx-font-weight: bold;
        -fx-font-size: 16px;
}

.button:hover {
        -fx-scale-x: 1.05;
        -fx-scale-y: 1.05;
        -fx-background-color: #ece4e4;
}
.button:pressed {
        -fx-scale-y: 0.95;
        -fx-scale-x: 0.95;
}

#log_out{
        -fx-background-color: #ff2b2b;
}

#log_out:hover{
        -fx-scale-x: 1.1;
        -fx-scale-y: 1.1;
        -fx-background-color: rgba(255, 43, 43, 0.85);
}

#log_out:pressed{
        -fx-scale-y: 0.95;
        -fx-scale-x: 0.95;
}
