.root{
    -fx-background-image: url("../images/backgroundMainLefft.jpg");
    -fx-background-size: cover;
}
.leftPaner{
    -fx-background-image: url("../images/anhtruong.jpg");
    -fx-background-size: cover;
}


.custom-button {
    -fx-background-color: #3498db; /* Màu nền */
    -fx-border-color: #2980b9; /* Màu viền */
    -fx-text-fill: white; /* Màu chữ */
    -fx-font-size: 14px; /* Kích thước chữ */
    -fx-background-radius: 15; /* Bo tròn góc */
    -fx-border-radius: 15;
    -fx-padding: 8 15; /* Độ lớn của padding */
    -fx-cursor: hand; /* Con trỏ khi di chuột qua nút */
}

/* Hover effect khi di chuột qua nút */
.custom-button:hover {
    -fx-background-color: #34cddb; /* Màu nền khi hover */
}


/* style.css */
.textfield-rounded {
    -fx-background-radius: 15px; /* Độ cong góc lớn hơn của TextField */
    -fx-font-size: 14px; /* Kích thước chữ */
    -fx-padding: 5px; /* Khoảng cách nội dung từ viền */
}